*{
	margin:0;
	padding:0;
}
a{}
#container{
	width:100%;
	height: auto;
	font-size: 16px;
	font-family: 微软雅黑;
}
#top{
	width: 100%;
	height: 36px;
	background-color: #f3f3f3;
}
#top-p,#top-list{
	color: #aaa;
}
#top-p{
	line-height: 36px;
	text-align: center;
}
#top-list ul li{
	height: 36px;
	line-height: 36px;
	float:left;
	list-style: none;
	text-align: center;
}
#nav{
	width:100%;
	height: 80px;
	box-shadow: 0 0 5px 1px #DFDFDC;
}
#nav-title,#nav-list{
	height: 80px;
}
#nav-title{
	line-height:80px;
	padding-left: 10%;
	font-size: 24px;
}
#nav-title img{
	float: left;
}
#nav-title div{
	height: 80px;
	line-height:80px;
	float: left;
	font-size: 24px;
	color:#70a938;
}
#nav-list ul{
	padding-top: 2%;
}
#nav-list ul li{
	height: 60px;
	line-height: 60px;
	float:left;
	list-style: none;
	text-align: center;
}
#nav-list ul li a{
	padding:15px 10px;
	text-decoration: none;
	color:#A2A2A2;
}
#nav-list ul li:nth-child(1) a{
	border-bottom: 2px solid #70A938;
	color: #86BF4E;
}
#innercontent{
	width:100%;
	height:400px;
	background-color: white;
}
#left{
	width:30%;
	margin-left: 10%;
	float: left;
}
#left-pic{
	height: 350px;
}
#left-pic #picul{
	height: 350px;
	transition: left 2s;
}
#left-pic #picul li{
	float: left;
	position: absolute;
	left:200px;
	opacity: 0;
	transition: opacity 1s;
	list-style: none;
	/*display: none;*/
}
#left-pic #picul li:nth-child(1){
	/*display: block;*/
	opacity:1;
}
#triangle-left{
	width:0;
	height:0;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	border-right: 30px solid gray;
	float: left;
	margin-top:150px;
	margin-right:5px;
	opacity: 0.1;
}
#triangle-right{
	width:0;
	height:0;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	border-left: 30px solid gray;
	float: left;
	position: relative;
	top:-200px;
	left:350px;
	opacity: 0.1;
}
#triangle-right:hover,#triangle-left:hover{
	opacity: 1;
	transition:opacity 2s;
}
#right{
	width:50%;
	float: left;
	margin-left:5%;
}
#right div:nth-child(1) h2{
	width:100%;
	height: 20px;
	margin-top: 5%;
	margin-bottom:25px;
}
#right div:nth-child(2) p{
	width: 100%;
	height: 36px;
	margin-top:0;
	color: #666666;
	text-align: left;
	font-size: 14px;
}
#productprice{
	width:100%;
	height: 20px;
	color: red;
}
#product-btn{
	width: 100%;
	height: 50px;
	outline: none;
}
#product-add{
	width:24%;
	border:1px solid #32CD32;
}
#product-add input{
	border: none;
	background-color: white;
	text-align: center;
	outline: none;
}
#product-shopping{
	width: 20%;
	height: 50px;
	float: left;
}
#product-shopping input,#product-buy input,#product-more input{
	width: 100%;
	height: 45px;
	border: none;
	font-size: 16px;
	color: white;
	outline: none;
}
#product-shopping input{
	/*margin-left:40px;*/
	background-color:#7EC0EE;
	border-radius: 2px;
}
#product-buy input{
	margin-left:60px;
	background-color: red;
	border-radius: 2px;
}
#product-more input{
	margin-left:120px;
	border-radius: 2px;
	background-color: white;
	color:black;
	border:1px solid #EAEAEA;
}
#product-buy{
	width: 20%;
	height: 50px;
	float: left;
}
#product-more{
	width: 20%;
	height: 50px;
	float: left;
}
#comment{
	margin:0 auto;
	border: 1px solid #ACACAC;
}
#comment-nav{
	height: 46px;
	border-bottom: 1px solid #ACACAC;
}
#comment-nav-title{
	width:10%;
	height: 44px;
	text-align: center;
	line-height:30px;
	border-right: 1px solid #ACACAC;
}
#comment-classify{
	height: 46px;
	border-bottom: 1px solid #ACACAC;
	line-height: 46px;
	padding-left:20px;
}
#comment-content{
	height:160px;
	border-bottom:1px solid #797979;
	padding: 20px 0;
}
#user-head{
	height:64px;
	width:64px;
	border:1px solid black;
	border-radius:50%;
	margin:10px 15px;
	background-image: url(../images/course5.png);
	background-position: 42% 10%;
}
#user-name{
	width:64px;
	height:20px;
	margin:10px 15px;
	text-align: center;
}
#user-comment{
	height:80px;
	position: relative;
	top:-100px;
	left:130px;
	font-size: 0.875em;
	overflow: hidden;
}
#comment-time{
	width:100px;
	height: 20px;
	position: relative;
	top:-80px;
	left:13%;
	font-size: 0.875em;
	color:#999999;
}
#good{
	width:100px;
	position: relative;
	top:-100px;
	left:75%;
	font-size: 0.875em;
}
.radiodiv{
	width:40px;
	float: left;
	border:1px solid black;
}
#footer{
	height: 180px;
}
#footer-first{
	height: 90px;
	background-color: #F0F0F0;
}
#footer-first div{
	height: 90px;
}
#footer-first-con div{
	float: left;
}
#footer-first-con img{
	width: 70%;
}
#footer-first-con span{
	height: 90px;
	line-height: 90px;
	margin-left: 20px;
	font-size: 20px;
}
#footer-second{
	height: 60px;
	text-align: center;
}
#footer-second p{
	margin-top:35px;
	font-size: 14px;
}